p {
    background-image: url(jamal.jpeg);
    opacity: 8%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-clip: text;
    color: transparent;
    line-height: 15px;
    font-family:fantasy;
}
.txt {
    color: white;
    font-family: verdana;
    text-align: center;
    font-size: 2rem;
}